/* HomeComponent's private CSS styles */
.private{
  background-color: lightpink;
}

.public{
  background-color: #EEE;
}

.bottom-right{
  position: fixed;
  bottom: 0;
  right: 0;
}

.bottom-left{
  position: fixed;
  bottom: 0;
  left: 0;
}

.recipes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}
  
input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}
  
.recipes li {
  position: relative;
  cursor: pointer;
}
  
.recipes li:hover {
  left: .1em;
}
 
.recipes a {
  color: #333;
  text-decoration: none;
  margin: .5em .5em .5em 0;
  padding: .3em .3em;
  height: 1.6em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}
  
.recipes a:active {
  background-color: #525252;
  color: #fafafa;
}
  
.recipes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
  
.add-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}
  
.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  background-color: white;
  color:  #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #EEE;
  border-right: none;
  height: 1.4em;
} 
  
button.delete:hover {
  background-color: #525252;
  color: white;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: left;
}

div ul {
  list-style-type: none;
}
