form {
    padding-top: 1rem;
}

label {
    display: block;
    margin: .5em 0;
    font-weight: bold;
}

.center {
    margin: auto;
    width: 60%;
    /* border: 5px solid #FFFF00; */
    padding: 10px;
    text-align: center;
    /* margin-top: 5%; */
}